@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
   background-color: #A5D1E1;
}

.back{
  position: absolute;
  left: 275px;
  top: 30px;
  color: #0D5C75;
  cursor: pointer;
}

.back:hover{
  color: #073645;
}

/* SUCCESS/ERROR MSG Style Starts*/

.success{
  color: #2ed573;
  font-size: 13px;
  font-weight: 700;
  background-color: #F7F7F7;
  padding-left: 2%;
  padding-right: 3%;
}

.error{
  color:#ff4757;
  font-size: 13px;
  font-weight: 700;
  background-color: #F7F7F7;
  padding-left: 2%;
  padding-right: 3%;
  border-radius: 10%;
}

/* SUCCESS/ERROR MSG Style Ends*/


/*CSS for Scroll Bar Starts Here*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #012836; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #698f9d;
}

/*CSS for Scroll Bar Ends Here*/


/* Navigation Bar CSS Starts Here*/

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 250px;
  height: 100%;
  background: #FFFFFF;
  padding: 30px 0px;
  position: fixed;
}

.logo{
  width: 200px;
  margin-top: 0px;
  margin-left: 25px;
}

.imgframe{
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-left: 65px;
  border: 1px solid #083746;
  border-radius: 50%;
}

.wrapper .sidebar ul{
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.wrapper .sidebar ul li{
  padding: 4px;
  vertical-align: middle;
}    

.wrapper .sidebar ul li a{
  color: #000000;
  display: block;
}
    
.wrapper .sidebar ul li:hover a{
  color: #0D5C75;
}

.signouttext{
  color: #0D5C75;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 25px;
  left: 65px;
}

.wrapper .sidebar .signouttext a{
  color: #0D5C75;
  display: block;
}

.wrapper .sidebar .signouttext a:hover{
  color: #000000;
  font-weight: 700;
  display: block;
}

.fa-solid{
  font-size: 17px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 250px;
  margin-top: 50px;
  text-align: center;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #000000;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.wrapper .right-button{
  margin-left: 470px;
}

.wrapper .left-button{
  margin-left: -827px;
}


.highlighttext{
  color: #0D5C75;
  font-weight: 600;
  display: inline;
}

/* Navigation Bar CSS Ends Here*/



/* admin-session-view.php start here */

.content {
  position: relative;
  height: 100%; /* fill the height of home-right */
  overflow-y:hidden; /* enable vertical scrolling for content */
}

.btn-addnew {
  position: absolute;
  right: 930px;
  top: 50px;
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
  font-weight: 500;
}

.btn-addnew span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-addnew span:after {
  content: '\002B';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.btn-addnew:hover span {
  padding-left: 15px;
}

.btn-addnew:hover span:after {
  opacity: 1;
  left: 0;
}

.btn-search{
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.btn-search span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-search span:after {
  content: '🔍︎';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-search:hover span {
  padding-right: 15px;
}

.btn-search:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-view-session-detail {
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.btn-view-session-detail span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-view-session-detail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-view-session-detail:hover span {
  padding-right: 15px;
}

.btn-view-session-detail:hover span:after {
  opacity: 1;
  right: 0;
}


/* .tbl-main-session{
  margin-top: 4%;
  width: 75%;
  margin-left:auto; 
  margin-right:auto;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.tbl-main-session tr{
  background-color: #ffffff;
}

.tbl-main-session thead td{
  color: #0D5C75;
  font-weight: 700;
  padding: 5px;
}

.tbl-main-session td{
  border:1px solid #b3adad;
  color: #000000;
  text-align: center;
  width: 300px;
  padding: 15px;
  padding-left: 0%;
  padding-right: 0%;
}

.tbl-main-session td:first-child, th:first-child {
  border-radius: 10px 0 0 10px;
}

.tbl-main-session td:last-child, th:last-child {
  border-radius: 0 10px 10px 0;
} */

.tbl-main-session{
  margin-top: 4%;
  width: 95%;
  margin-left:auto; 
  margin-right:auto;
  border-collapse: separate;
  border-spacing: 0 15px;
}
  
.tbl-main-session tr{
  background-color: #ffffff;
}

.tbl-main-session thead{
  position: sticky;
  top: 0; /* set the table heading to be fixed */
  z-index: 1; /* set a higher z-index to show the heading above the content */
}

.tbl-main-session thead td{
  color: #0D5C75;
  font-weight: 700;
  padding: 5px;
}

.tbl-main-session td{
  /*border:1px solid #b3adad;*/
  color: #000000;
  text-align: center;
  width: 300px;
  padding: 10px;
  padding-left: 0%;
  padding-right: 0%;
}

.tbl-main-session td:first-child, th:first-child {
  border-radius: 10px 0 0 10px;
}

.tbl-main-session td:last-child, th:last-child {
  border-radius: 0 10px 10px 0;
}

.search-session{
  width: 80%;
  padding: 7px 7px 7px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color:#c5dde5;
}

.search-session::placeholder {
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-style: italic;
}

/* buttons of status */
.btn-paypend{
  width: 175px;
    width: 150px;
    background-color: #FDD147;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: 550;
}
.btn-confirmed{
  width: 175px;
    width: 150px;
    background-color: #28ae28;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: 550;
}

.btn-completed{
  width: 175px;
    width: 150px;
    background-color: #093e4e;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: 550;
}

.btn-cancelled{
  width: 175px;
    width: 150px;
    background-color: #BD1010;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: 550;
}

/* admin-session-view.php end here */


/* admin-session-create.php start here */
  

.head-create-session{
  position:absolute;
  width: 300px;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  top: 50px;
  left: 726px;
  display: inline;

}

.square-create-session{
  border: 2px solid #0D5C75;
  width: 630px;
  height: 533px;
  background: #ffffff;
  position: absolute;
  top: 121px;
  left: 584px;
  display: inline-block;
  border-radius: 10%;
}



.form-create-session{
  top: 41px;
  left: 25px;
}
.form-control-create-session{
  width: 350px;
  padding: 2px;
  border-radius: 10px;
  font-size: 15px;
}

.btn-create-session{
  position:relative;
  left: 570px;
  bottom:-30px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}



.btn-create-session-back{
  position: absolute;
  left: 121px;
  bottom:-32px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}



.btn-create-session{
  position: absolute;
  left: 410px;
  bottom: 41px;
  width: 131px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}


.btn-create-session-back{
  position: absolute;
  left: 93px;
  bottom: 41px;
  width: 116px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.doc-id-select section{
  position: relative;
  font-family: Arial;
  
}

select {
  font-size: 18px;
  background-color: #b1d7f5;
  border: 1px solid #ccc;
  padding: 10px;
  width: 205px;
  height: 43px;
  border-radius: 10px;
}

select option {
  font-size: 16px;
  background-color: #336274;
  padding: 5px;
}

input[type="date"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  width: 205px;
  height: 43px;
  /* Add any other styles you want to apply to the date field here */
}
/* admin-session-create.php end here */






/* admin-sesssion-view-details.php start here */

.container-row {
  display: flex;
  width: 100%;
  height: 100%;
}

.container01 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: auto;
  margin-left: auto;
  width: 20%;
  height: 60vh;
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.container02 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: auto;
  margin-left: 8%;
  margin-right: auto;
  width: 50%;
  height: 80vh;
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.sessionidTXT{
  font-size: 35px;
  color: #0D5C75;
  font-weight: 700;
}

.sessionidTXT i{
  font-size: 35px;
  color: #0D5C75;
  font-weight: 700;
}

.viewtbl {
  width: 95%;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-collapse: collapse;
}

.viewtbl td {
  width: 50%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  /* border: 1px solid #000; */
}

.viewtbl td.typeR{
  font-size: 15px;
  font-weight: 550;
  color: #0D5C75;
  text-align: right;
}

.viewtbl td.typeL{
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.btn-activate{
  width: 180px;
  background-color: #008000;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.btn-disable{
  width: 180px;
  background-color: #800000;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

/* admin-session-view-details.php end here */





/* admin-session-mail.php start here */


/* admin-session-mail.php end here */