@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #A5D1E1;
}

.back{
  position: absolute;
  left: 275px;
  top: 30px;
  color: #0D5C75;
  cursor: pointer;
}

.back:hover{
  color: #073645;
}

/* SUCCESS/ERROR MSG Style Starts*/

.success{
  color: #2ed573;
  font-size: 13px;
  font-weight: 700;
  background-color: #F7F7F7;
  padding-left: 2%;
  padding-right: 3%;
}

.error{
  color:#ff4757;
  font-size: 13px;
  font-weight: 700;
  background-color: #F7F7F7;
  padding-left: 2%;
  padding-right: 3%;
  border-radius: 10%;
}

/* SUCCESS/ERROR MSG Style Ends*/


/*CSS for Scroll Bar Starts Here*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #012836; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #698f9d;
}

/*CSS for Scroll Bar Ends Here*/


/* Navigation Bar CSS Starts Here*/

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 250px;
  height: 100%;
  background: #FFFFFF;
  padding: 30px 0px;
  position: fixed;
}

.logo{
  width: 200px;
  margin-top: 0px;
  margin-left: 25px;
}

.imgframe{
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-left: 65px;
  border: 1px solid #083746;
  border-radius: 50%;
}

.wrapper .sidebar ul{
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.wrapper .sidebar ul li{
  padding: 4px;
  vertical-align: middle;
}    

.wrapper .sidebar ul li a{
  color: #000000;
  display: block;
}
    
.wrapper .sidebar ul li:hover a{
  color: #0D5C75;
}

.signouttext{
  color: #0D5C75;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 25px;
  left: 65px;
}

.wrapper .sidebar .signouttext a{
  color: #0D5C75;
  display: block;
}

.wrapper .sidebar .signouttext a:hover{
  color: #000000;
  font-weight: 700;
  display: block;
}

.fa-solid{
  font-size: 17px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 250px;
  margin-top: 50px;
  text-align: center;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #000000;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.wrapper .right-button{
  margin-left: 470px;
}

.wrapper .left-button{
  margin-left: -827px;
}


.highlighttext{
  color: #0D5C75;
  font-weight: 600;
  display: inline;
}

/* Navigation Bar CSS Ends Here*/


/* admin_home CSS Starts Here*/

table {
  /*border:1px solid #b3adad;*/
  border-collapse:collapse;
}

.welcometext{
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  bottom: 50px;
  left: 80px;
  display: inline;
}

.usernametext{
  color: #0D5C75;
  display: inline;
}


table.center {
  width: 75%;
  margin-top: 5%;
  margin-left: 9%; 
  margin-right: auto;
}

table td{
  width: 750px;
  /*border:1px solid #b3adad;*/
  text-align:center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

#rcorners {
  border-radius: 35px;
  background: #ffffff;
  padding: 35px; 
  width: 400px;
  height: 200px;
  color: #000000;
  text-align: center;
  font-size: 25px;
  font-weight: 600;  
}

/* admin_home CSS Ends Here*/


/*admin_viewprofile.php Starts Here*/

.polygons {
  text-align: center;
  position: relative;
}
.square {
  border: 2px solid #0D5C75;
  width: 600px;
  height: 420px;
  background: #ffffff;
  position: relative;
  top: 100px;
  display: inline-block;
  border-radius: 10%;
}

.tbl-square{
  border-collapse: separate;
  table-layout: fixed;
  /* border: 1px solid black; */
}

.tbl-square .type1{
  /* border: 1px solid black; */
  width: 245px;
  text-align: right;
  font-size: 16px;
  color: #0D5C75;
  font-weight: 500;
}

.tbl-square .type2{
  /* border: 1px solid black; */
  width: 300px;
  text-align: left;
  font-size: 14px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px 10px 10px 10px;
}

.circle {
  border: 2px solid #0D5C75;
  width: 250px;
  height: 250px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 500px;
  top: -15px;
  overflow: hidden;
}

/* .circle:hover {
  color: $primary;
  background-color: transparent;
  border: dashed #f7a4a7 5px;
} */

.square2 {
  width: 200px;
  height: 50px;
  position: absolute;
  background: #0D5C75;
  left: -205px;
  top: 430px;
  /* border-radius: 10%; */
}

#overlap {
  width: 10px;
  height: 60px;
/*   background: purple; */
  position: relative;
  left: -10px;
  right: -20px;
}

.btn-blue{
  margin-left: 60%;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.btn-blue a{
  color: #ffffff;
}

/*admin_viewprofile.php end Here*/


/*  admin-system-users.php page start here*/

.system-users{
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  left: 75px;
  display: inline;
}

.button-asst{    
  position: absolute;
  width: 320px;
  height: 140px;
  left: 980px;
  top: 200px;
  background-color: #0C5C75;
  border-radius: 25px;
  border-width: 0px;
  color: #FFFFFF;
  font-family: 'poppins';
  font-size: 35px;
  font-weight: 700;
}

.button-asst:hover{
  background-color: #e1ebef;
  color: #0C5C75;
  cursor: pointer;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.button-phar{    
  position: absolute;
  width: 320px;
  height: 140px;
  left: 500px;
  top: 448px;
  background-color: #0C5C75;
  border-radius: 25px;
  border-width: 0px;
  color: #FFFFFF;
  font-family: 'poppins';
  font-size: 35px;
  font-weight: 700;
}

.button-phar:hover{
  background-color: #e1ebef;
  color: #0C5C75;
  cursor: pointer;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.button-lab{    
  position: absolute;
  width: 320px;
  height: 140px;
  left: 980px;
  top: 448px;
  background-color: #0C5C75;
  border-radius: 25px;
  border-width: 0px;
  color: #FFFFFF;
  font-family: 'poppins';
  font-size: 35px;
  font-weight: 700;
}

.button-lab:hover{
  background-color: #e1ebef;
  color: #0C5C75;
  cursor: pointer;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.button-doc{    
  position: absolute;
  width: 320px;
  height: 140px;
  left: 500px;
  top: 200px;
  background-color: #0C5C75;
  border-radius: 25px;
  border-width: 0px;
  color: #FFFFFF;
  font-family: 'poppins';
  font-size: 35px;
  font-weight: 700;
}

.button-doc:hover{
  background-color: #e1ebef;
  color: #0C5C75;
  cursor: pointer;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

/*  admin-system-users.php page end here*/



/* admin-doc-view.php page start here*/

.doc-list{
  position:absolute;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  top: 50px;
  left: 726px;

}

.btn-search{
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.btn-search span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-search span:after {
  content: '🔍︎';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-search:hover span {
  padding-right: 15px;
}

.btn-search:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-view-doc-detail {
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.btn-view-doc-detail span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-view-doc-detail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-view-doc-detail:hover span {
  padding-right: 15px;
}

.btn-view-doc-detail:hover span:after {
  opacity: 1;
  right: 0;
}


.tbl-main-doc{
  position: absolute;
  left: 375px;
  top: 110px;
  width: 1068px;
  margin-left:auto; 
  margin-right:auto;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.tbl-main-doc tr{
  background-color: #ffffff;
}

.tbl-main-doc thead td{
  color: #0D5C75;
  font-weight: 700;
  padding: 5px;
}

.tbl-main-doc td{
  /*border:1px solid #b3adad;*/
  color: #000000;
  text-align: center;
  width: 300px;
  padding: 15px;
  padding-left: 0%;
  padding-right: 0%;
}

.tbl-main-doc td:first-child, th:first-child {
  border-radius: 10px 0 0 10px;
}

.tbl-main-doc td:last-child, th:last-child {
  border-radius: 0 10px 10px 0;
}

.search-doc{
  width: 155px;
  padding: 2px;
  border-radius: 10px;
  font-size: 15px;
}

.btn-addnew {
  position: absolute;
  left: 1285px;
  top: 42px;
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.btn-addnew span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-addnew span:after {
  content: '\002B';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.btn-addnew:hover span {
  padding-left: 15px;
}

.btn-addnew:hover span:after {
  opacity: 1;
  left: 0;
}

/* admin-doc-view.php page end here */

/* admin-doc-detail.php page start here */

.view-doc{
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: auto; 
  margin-right: auto;
  width: 65%;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.view-doc tr td{
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

.view-doc td.typeR{
  text-align: right;
  color: #0D5C75;
  font-weight: 600;
}

.view-doc td.typeL{
  text-align: left;
  font-weight: 600;
}

.ppframe{
  width: 200px;
  height: 200px;
  border: 1px solid #083746;
  border-radius: 50%;
}

.btn-del-doc-enable{ 
  width: 200px;
  border-radius: 25px;
  background-color: #6ECB63;
  color: black;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.btn-del-doc-enable:hover{ 
  background-color: #1c7226;
  color: white;
}

.btn-del-doc-disable{
  width: 200px;
  border-radius: 25px;
  background-color: #F45050;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.btn-del-doc-disable:hover{
  background-color: #730101;
}

.view-doc td.typeL i{
  font-size: 12px;
  color: #0C5C75;
}

/* admin-doc-detail.php page end here */


/* admin-pha-view.php start here */

.btn-view-pha-detail {
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.btn-view-pha-detail span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-view-pha-detail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-view-pha-detail:hover span {
  padding-right: 15px;
}

.btn-view-pha-detail:hover span:after {
  opacity: 1;
  right: 0;
}


.tbl-main-pha{
  position: absolute;
  left: 375px;
  top: 110px;
  width: 1068px;
  margin-left:auto; 
  margin-right:auto;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.tbl-main-pha tr{
  background-color: #ffffff;
}

.tbl-main-pha thead td{
  color: #0D5C75;
  font-weight: 700;
  padding: 5px;
}

.tbl-main-pha td{
  /*border:1px solid #b3adad;*/
  color: #000000;
  text-align: center;
  width: 300px;
  padding: 15px;
  padding-left: 0%;
  padding-right: 0%;
}

.tbl-main-pha td:first-child, th:first-child {
  border-radius: 10px 0 0 10px;
}

.tbl-main-pha td:last-child, th:last-child {
  border-radius: 0 10px 10px 0;
}

.search-pha{
  width: 185px;
  padding: 2px;
  border-radius: 10px;
  font-size: 15px;
}

.to-reg-pha-page{
  position: absolute;
  width: 184px;
  left: 1122px;
  top: 42px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.back-pha-view{
  position: absolute;
  width: 158px;
  left: 905px;
  top: 42px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.active-status{
  border: 1px solid #6ECB63;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  background-color:  #6ECB63;
  color: #000000;
}

.passive-status{
  border: 1px solid #F45050;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  background-color: #F45050;
  color: #ffffff;
}

/* admin-pha-view.php end here */


/* admin-pha-view-details.php start here */

.detail-txt-pha{
  position: absolute;
  top: 35px;
  left: 673px;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  bottom: 50px;
  display: inline;
}

.id-txt-pha{
  color: #0D5C75;
  display: inline;
}


.square-detail-pha{
  border: 2px solid #0D5C75;
  width: 725px;
  height: 574px;
  background: #ffffff;
  position: absolute;
  top: 86px;
  left: 520px;
  display: inline-block;
  border-radius: 10%;
}

.btn-detail-pha{
  position: absolute;
  left: 570px;
  bottom:-30px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}


.btn-enable-pha{
  position: absolute;
  left: 425px;
    bottom: -62px;
    width: 180px;
  background-color: #008000;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.btn-disable-pha{
  position: absolute;
  left: 425px;
    bottom: -62px;
    width: 180px;
  background-color: #800000;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.btn-edit-pha{
  position: absolute;
  left: 227px;
    bottom: -62px;
  background-color: #0D5C75;
  width: 158px;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

}

.btn-del-back-pha{
  position: absolute;
  left: 78px;
    bottom: -62px;
  background-color: #0D5C75;
  width: 113px;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

}


.detail-pha{
  position: relative;
  top: 41px;
  left: 25px;
}


/* admin-pha-view-details.php end here */

/* admin-laboratory-view.php page start here */

.lab-list{
  position:absolute;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  top: 50px;
  left: 726px;

}
.btn-view-lab-detail {
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.btn-view-lab-detail span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-view-lab-detail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-view-lab-detail:hover span {
  padding-right: 15px;
}

.btn-vieworder:hover span:after {
  opacity: 1;
  right: 0;
}


.tbl-main-lab{
  position: absolute;
  left: 375px;
  top: 110px;
  width: 1068px;
  margin-left:auto; 
  margin-right:auto;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.tbl-main-lab tr{
  background-color: #ffffff;
}

.tbl-main-lab thead td{
  color: #0D5C75;
  font-weight: 700;
  padding: 5px;
}

.tbl-main-lab td{
  /*border:1px solid #b3adad;*/
  color: #000000;
  text-align: center;
  width: 300px;
  padding: 15px;
  padding-left: 0%;
  padding-right: 0%;
}

.tbl-main-lab td:first-child, th:first-child {
  border-radius: 10px 0 0 10px;
}

.tbl-main-lab td:last-child, th:last-child {
  border-radius: 0 10px 10px 0;
}

.search-lab{
  width: 185px;
  padding: 2px;
  border-radius: 10px;
  font-size: 15px;
}

/* admin-labtec-view.php end here */

/* admin-labtec-view-details.php start here */

.detail-txt-lab{
  position: absolute;
  top: 35px;
  left: 673px;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  bottom: 50px;
  display: inline;
}

.id-txt-lab{
  color: #0D5C75;
  display: inline;
}


.square-detail-lab{
  border: 2px solid #0D5C75;
  width: 695px;
  height: 562px;
  background: #ffffff;
  position: absolute;
  top: 96px;
  left: 559px;
  display: inline-block;
  border-radius: 10%;
}

.btn-detail-lab{
  position: absolute;
  left: 570px;
  bottom:-30px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}


.btn-lactec-disable{
  position: absolute;
  left: 414px;
  bottom: -95px;
  width: 180px;
  background-color: #800000;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}

.btn-lactec-enable{
  position: absolute;
  left: 414px;
    bottom: -95px;
    width: 180px;
  background-color: #008000;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.btn-del-back-lab{
  position: absolute;
  left: 78px;
  bottom: -95px;
  background-color: #0D5C75;
  width: 113px;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

}


.detail-lab{
  position: relative;
  top: 71px;
  left: 25px;
}


/* admin-labtec-view-details.php end here */

/* admin-asst-view.php start here */
.asst-list{
  position:absolute;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  top: 50px;
  left: 726px;

}
.btn-view-asst-detail {
  border-radius: 10px;
  background-color: #0D5C75;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 15px; */
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.btn-view-asst-detail span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-view-asst-detail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-view-asst-detail:hover span {
  padding-right: 15px;
}

.btn-view-asst-detail:hover span:after {
  opacity: 1;
  right: 0;
}


.tbl-main-asst{
  position: absolute;
  left: 375px;
  top: 110px;
  width: 1068px;
  margin-left:auto; 
  margin-right:auto;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.tbl-main-asst tr{
  background-color: #ffffff;
}

.tbl-main-asst thead td{
  color: #0D5C75;
  font-weight: 700;
  padding: 5px;
}

.tbl-main-asst td{
  /*border:1px solid #b3adad;*/
  color: #000000;
  text-align: center;
  width: 300px;
  padding: 15px;
  padding-left: 0%;
  padding-right: 0%;
}

.tbl-main-asst td:first-child, th:first-child {
  border-radius: 10px 0 0 10px;
}

.tbl-main-asst td:last-child, th:last-child {
  border-radius: 0 10px 10px 0;
}

.search-asst{
  width: 185px;
  padding: 2px;
  border-radius: 10px;
  font-size: 15px;
}

.to-reg-asst-page{
  position: absolute;
  width: 184px;
  left: 1122px;
  top: 42px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.back-asst-view{
  position: absolute;
  width: 158px;
  left: 905px;
  top: 42px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}



/* admin-asst-view.php end here */

/* admin-asst-view-details.php start here */

.detail-txt-asst{
  position: absolute;
  top: 35px;
  left: 673px;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  bottom: 50px;
  display: inline;
}

.id-txt-asst{
  color: #0D5C75;
  display: inline;
}


.square-detail-asst{
  border: 2px solid #0D5C75;
    width: 659px;
    height: 537px;
    background: #ffffff;
    position: absolute;
    top: 109px;
    left: 532px;
    display: inline-block;
    border-radius: 10%;
}

.btn-detail-asst{
  position: absolute;
  left: 570px;
  bottom:-30px;
  background-color: #0D5C75;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}


.btn-enable-asst{
  position: absolute;
  left: 425px;
    bottom: -62px;
    width: 180px;
  background-color: #008000;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}


.btn-disable-asst{
  position: absolute;
  left: 378px;
  bottom: -90px;
  width: 180px;
  background-color: #800000;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.btn-del-back-asst{
  position: absolute;
  left: 92px;
  bottom: -95px;
  background-color: #0D5C75;
  width: 113px;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

}


.detail-asst{
  position: relative;
  top: 47px;
  left: 22px;
}


/* admin-asst-view-details.php end here */

/* admin-pha-edit.php start here */

.polygons {
  text-align: center;
  position: relative;
}
.square {
  border: 2px solid #0D5C75;
  width: 600px;
  height: 420px;
  background: #ffffff;
  position: relative;
  top: 100px;
  display: inline-block;
  border-radius: 10%;
}

.tbl-square{
  border-collapse: separate;
  table-layout: fixed;
  /* border: 1px solid black; */
}

.tbl-square .type1{
  /* border: 1px solid black; */
  width: 245px;
  text-align: right;
  font-size: 16px;
  color: #0D5C75;
  font-weight: 500;
}

.tbl-square .type2{
  /* border: 1px solid black; */
  width: 300px;
  text-align: left;
  font-size: 14px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px 10px 10px 10px;
}

.circle {
  border: 2px solid #0D5C75;
  width: 250px;
  height: 250px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 500px;
  top: -15px;
  overflow: hidden;
}

/* .circle:hover {
  color: $primary;
  background-color: transparent;
  border: dashed #f7a4a7 5px;
} */

.square2 {
  width: 200px;
  height: 50px;
  position: absolute;
  background: #0D5C75;
  left: -205px;
  top: 430px;
  /* border-radius: 10%; */
}

#overlap {
  width: 10px;
  height: 60px;
/*   background: purple; */
  position: relative;
  left: -10px;
  right: -20px;
}

.form-control2{
  width: 200px;
  text-align: center;
  border-radius: 10px;
}


/* admin-pha-edit.php end here */






/*  admin-doc-reg.php page start here*/

.reg-heading{
  width: 60%;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  background-color:#0D5C75;
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  color: #fff;
  border-radius: 10px;
}

.reg-container {
  width: 90%;
  margin-top: -27px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 20px;
  background-color:#fff;
  border: 2px solid #0D5C75;
  border-radius: 10px;
  /* animation: slideIn .9s ease forwards;
  position: relative;
  transition: all .9s ease; */
}

.otheruser{
  width: 75%;
}

.reg-container-col {
  display:inline-block;
  width: 30%;
  margin:auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  vertical-align: top;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  /* animation: slideIn .9s ease forwards;
  position: relative;
  transition: all .9s ease; */
}

.otherusercol{
  width: 40%;
}

.mid{
  margin-left: 3%;
  margin-right: 3%;
}

.mid2{
  margin-right: 5%;
}

.otherusercolbreak{
  margin-left: 3%;
}

.labeltag{
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  color: #0D5C75;
}

.inputtab{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  position: relative;
  width: 100%;
  overflow: hidden;
  outline: 0;
}

option{
  font-size: 10px;
}

.reg-foot{
  width: 12%;
  position: absolute;
  top: 93%;
  left: 52%;
  padding: 10px;
  background-color:#0D5C75;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.pha{
  width: 13%;
}

.labtec{
  width: 14%;
}

.reg-foot span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.reg-foot span:after {
  content: '✔';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.7s;
}

.reg-foot:hover{
  background-image: linear-gradient(to left, #557c87, #0D5C75);
}

.reg-foot:hover span {
  padding-right: 15px;
}

.reg-foot:hover span:after {
  opacity: 1;
  right: 0;
}

/*  admin-doc-reg.php page end here*/
