.sub_content{
    display: flex;
    position: absolute;
    width: 81%;
    height: 500px;
    margin: 20px;
    flex-direction: row;
}
.left_sub_content{
    width: 68%;
    display: flex;
    flex-direction: column;
}


.first_left_sub_content{
    margin: 10px;
    width: 98%;
    height: 345px;
}
.second_left_sub_content {
    margin: 10px;
    width: 98%;
    height: 112px;
}
.right-sub_content{
    margin: 10px;
    width: 30%;
}

.chart_container {
    width: 828px;
    height: 364px;
    background: white;
    padding: 20px;
        border-radius: 15px;
}

#chart_id{
    height: 277px !important;
}
.chart_title {
    text-align: center;
    margin-bottom: 10px;
}

/* ----------------- */

.second_left_sub_content{
    position: relative;
    top: 27px;
    width: 700px;
      height: 364px;
      background: white;
      padding: 20px;
      border-radius: 15px;
  }


.right-sub_content{
    
    width: 828px;
      height: 482px;
      background: white;
      padding: 20px;
      border-radius: 15px;
}