/* Common CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

/*CSS for Scroll Bar*/

/* width */
::-webkit-scrollbar {
width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #ffffff; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #A5D1E1; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #698f9d;
}

body {
    background-color: #A5D1E1;
}

.back{
    position: fixed;
    color: #0D5C75;
    cursor: pointer;
  }

.back:hover{
    color: #073645;
  }

.main-div {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }
  
  .home-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 250px;
    font-size: 20px;
  }
  
  .home-right {
    background-image: url(../images/patientbg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
    width: calc(100% - 250px); /* subtract the width of home-left */
    display: flex;
    flex-direction: column;
    overflow-y: scroll; /* enable vertical scrolling */
    padding: 20px; /* add padding to content to avoid it touching the edges */
  }

  .home-right::-webkit-scrollbar {
    display: none; /* hide the scrollbar */
  }
  
  .content {
    position: relative;
    height: 100%; /* fill the height of home-right */
    overflow-y: auto; /* enable vertical scrolling for content */
  }
  

/* SUCCESS/ERROR MSG style */

.success {
    color: #2ed573;
    font-size: 13px;
    font-weight: 700;
    background-color: #F7F7F7;
    padding-left: 2%;
    padding-right: 3%;
    border-radius: 25px;
}

.error {
    color: #ff4757;
    font-size: 13px;
    font-weight: 700;
    background-color: #F7F7F7;
    padding-left: 2%;
    padding-right: 3%;
    border-radius: 25px;
}

/*Signout Button CSS */

.fa-solid {
    font-size: 17px;
}


/* nav bar style */

.nav-logo img {
    height: 90px;
    margin-top: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-top: 30px;
    font-weight: 500;
}

.nav-links a {
    margin-bottom: 20px;
    color: black;
}

.nav-links a:hover {
    font-weight: 600;
    color: #0C5C75;
    transition: .3s;
}

a {
    text-decoration: none;
}

.profile-image {
    background: #dee7ea;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 10px;
}

.profile-image img {
    height: 120px;
    width: 120px;
}

.signout {
    margin-top: 70px;
    font-weight: bold
}

.signout a {
    color: #0C5C75;
}

.signout a:hover {
    color: #093e4e;
    font-weight: bolder;
    transition: .3s;
}


/* HOME PAGE styles */

.text-content {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: 500;
    margin: 0px 0px 35px 70px;
}

.user-name {
    margin-left: 15px;
    color: #093e4e;
    font-weight: 600;
}

.page-content {
    display: flex;
    flex-direction: column;
}

.right-page-content {
    display: flex;
    flex-direction: row;
}

.right-page-content {
    margin-left: 100px;
}

.home-divider {
    width: 50px;
}

.right-page-content button {
    height: 90px;
    width: 220px;
    background: #0C5C75;
    border-radius: 25px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    border: none;
    margin: 60px 0px 0px 0px;
}

.right-page-content button:hover {
    background: #107c9d;
    color: white ;
    font-weight: 600;
    transition: .2s;
    cursor: pointer;
}

/* PATIENT APPOINTMENT style */

.search-apt {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 600px;
    border-radius: 25px;
    margin: 30px 0px 0px 100px;
    font-size: 20px;
}

.search-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 20px;
    color: #093e4e;
    font-weight: 600;
    align-items: center;
}

.apt-heading {
    font-size: 25px;
    margin: 30px 0px 20px 80px;
    color: #093e4e;
}

.search-row select {
    width: 350px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 16px;
    border: none;
    padding: 8px;
}

.search-row input {
    width: 350px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    padding: 8px;
}

.search-row input:focus {
    outline: none;
}

.search-row select:focus {
    outline: none;
}

.search-btn {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.search-btn button {
    height: 50px;
    width: 100px;
    background: #0C5C75;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    margin: 5px 0px 0px 30px;
}

.search-btn button:hover {
    background: #107c9d;
    color: #ffffff;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

/* .apt-table-head {
    display: flex;
    flex-direction: row;
    background: white;
    color: #093e4e;
    border-radius: 15px;
    height: 40px;
    width: 70%;
    margin-left: 60px;
    align-items: center;
    font-weight: 550;
}

.apt-table-head div {
    margin: 0px 0px 0px 80px;
}

.apt-table-head .table-itm2 {
    margin: 0px 0px 0px 100px;
}

.apt-table-head .table-itm3 {
    margin: 0px 0px 0px 100px;
}

.apt-table-head .table-itm4 {
    margin: 0px 0px 0px 100px;
}

.apt-lists {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    height: 35px;
    width: 70%;
    align-items: center;
    margin-left: 60px;
    margin-top: 10px;
    font-weight: 450;
}

.apt-list-tbl .book-btn button {
    background: #0C5C75;
    border-radius: 10px;
}

.apt-list-tbl td{
    width: 200px;
} */

.tbl-aptlist{
width: 80%;
margin-top: -80px;
margin-left:auto; 
margin-right:auto;
border-collapse: separate;
border-spacing: 0 15px;
}

.tbl-aptlist{
width: 80%;
}
  
.tbl-aptlist tr{
background-color: #ffffff;
}

.tbl-aptlist thead td{
color: #0D5C75;
font-weight: 700;
padding: 5px;
}

.tbl-aptlist td{
/*border:1px solid #b3adad;*/
color: #000000;
text-align: center;
width: 300px;
padding: 10px;
padding-left: 0%;
padding-right: 0%;
}

.tbl-aptlist td:first-child, th:first-child {
border-radius: 10px 0 0 10px;
}

.tbl-aptlist td:last-child, th:last-child {
border-radius: 0 10px 10px 0;
}

.tbl-aptlist td.nosessiontd:first-child, th:first-child {
    border-radius: 10px 10px 10px 10px;
}

.nosession{
    color: #d41414;
    font-weight: 700;
}

.book-btn {
border-radius: 10px;
background-color: #0D5C75;
border: none;
color: #FFFFFF;
text-align: center;
/* font-size: 15px; */
padding: 5px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
font-weight: 500;
}

.book-btn span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.book-btn span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.book-btn:hover span {
padding-right: 15px;
}

.book-btn:hover span:after {
opacity: 1;
right: 0;
}

/* PATIENT BOOKDOC1 style */

.form-content {
    height: 500px;
    width: 700px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    color: #093e4e;
    margin: 40px 0px 0px 100px;
}

.book1-heading {
    font-size: 25px;
    margin-bottom: 20px;
    color: #093e4e;
}

.form-itm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 0px 40px 25px 0px;
    font-weight: 550;
    font-size: 20px;
}

.form-itm input {
    width: 350px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    padding: 10px;
    padding-left: 20px;

}

input:focus {
    outline: none;
}

.form-itm p {
    margin-right: 20px;
}

.radio-itm {
    margin-right: 130px;
}

.radio-itm2{
    margin-right: 330px;
}

.radio-itm input {
    width: auto;
    margin-right: 10px;
}

.radio-itm p {
    margin-right: 40px;
}

.radio-gap {
    width: 60px;
}

.apt-btn {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 30px 40px 0px 0px;
}

.apt-btn a {
    height: 50px;
    width: 120px;
}

.apt-btn-css {
    height: 50px;
    width: 120px;
    margin-right: 35px;    
}

.apt-btn-css button{
    height: 40px;
    width: 120px;
    background: #0C5C75;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border: none;
}



.apt-btn-space {
    width: 50px;
}

.apt-btn-book2 p{
    font-size: 20px;
    font-weight: 550;
    color: #093e4e;
    margin: 5px 25px 0px 0px;
    
}


/* .apt-btn button {
    height: 40px;
    width: 120px;
    background: #0C5C75;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border: none;
} */


.apt-btn button:hover {
    background: #107c9d;
    color: #ffffff;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.form-set {
    width: 700px;
    margin-left: 100px;
    color: #093e4e;
}

.book2-form{
    width: 740px;
    margin-left: 100px;
    color: #093e4e;
}

.form-divider {
    height: 30px;
}

.form-bottom-text {
    font-weight: 600;
    color: #093e4e;
    margin: 20px 0px 0px 250px;
    font-size: 20px;
}

.book2-heading {
    font-size: 25px;
    color: #093e4e;
    margin: 10px 0px 40px 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #717171;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* MAKE ORDER Page Style */

.type-file input[type="file"] {
    box-sizing: border-box;
    border-radius: 10px;
    width: 350px;
    background: white;
    padding: 0px;
    height: 34.4px;
    font-size: 10px;
}

.type-file input[type="file"]:hover {
    cursor: pointer;
}

input::-webkit-file-upload-button:hover {
    cursor: pointer;
}

input::-webkit-file-upload-button {
    height: 34.4px;
    width: 100px;
    border-radius: 8px;
    border: none;
    background: #0C5C75;
    color: white;
    margin-right: 30px;
    font-size: 12px;
}

.makeorder-heading {
    font-size: 25px;
    margin: 5px 0px 0px 100px;
    color: #04313e;
}

.make-order {
    margin-top: 10px;
}

.other-order textarea {
    height: 100px;
    width: 350px;
    resize: none;
    border-radius: 10px;
    border: none;
    padding: 10px;
    outline: none;
}

.order-btn {
    margin-top: 35px;
}



/* VIEW DOC APPOINTMENT style */

.view-apt-heading {
    font-size: 20px;
    color: #093e4e;
    margin: 25px 0px 0px 100px;
}

.view-apt-details {
    border-radius: 15px;
    background: white;
    height: 520px;
    width: 500px;
    margin: 30px 0px 0px 200px;
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 30px;
}

.view-details-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 15px;
    align-items: center;
    font-size: 16px;
    font-weight: 550;
    color: #093e4e;
}

.view-details-row div {
    width: 250px;
    height: 28px;
    margin: 0px 40px 0px 15px;
    display: flex;
    align-items: center;
}

.view-apt-btn {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 10px 30px 0px 0px;
}

.view-apt-btn01 button {
    border-radius: 25px;
    height: 35px;
    width: 200px;
    background: #BD1010;
    color: #ffffff;
    border: none;
}

.view-apt-btn02 button {
    border-radius: 25px;
    height: 35px;
    width: 200px;
    background: #0C5C75;
    color: #ffffff;
    border: none;
}

.view-apt-divider {
    width: 30px;
}

.view-apt-btn02 button:hover {
    cursor: pointer;
    background: #107c9d;
    transition: .3s;
    font-weight:600;
}

.view-apt-btn01 button:hover {
    cursor: pointer;
    background: #db1616;
    transition: .3s;
    font-weight:600;
}

.view-apt-back-btn {
    margin: 20px 0px 0px 570px;
}

.view-apt-back-btn button:hover {
    background: #107c9d;
    color: #ffffff;
    font-weight: 600;
    transition:.3s;
}

/* DOC APPOINTMENTS style */

.my-doc-apt {
    font-size: 30px;
}

.my-apt-table {
    display: flex;

    flex-direction: column;
    width: 1200px;
    height: 500px;
}

.mydoc-apt-header {
    width: 1100px;
    height: 50px;
    background: white;
    border-radius: 15px;
    margin: 30px 0px 30px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #093e4e;
    font-weight: 500;
    font-size: 18px;
}

.mydoc-apt-header div {
    margin-left: 30px;
}

.mydoc-apt-lists {
    width: 1100px;
    height: 50px;
    background: white;
    border-radius: 15px;
    margin: 10px 0px 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #093e4e;
    font-weight: 500;
    font-size: 18px;
}

.mydoc-apt-lists-01 {
    width: 50px;
    background: #107c9d;
}

.doc-apt-title{
    font-size: 35px;
    font-weight: 700;
    color: #093e4e;
    margin-bottom: -15px;
}

.btn-mkdcapt {
    border-radius: 10px;
    background-color: #093e4e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    /* font-size: 15px; */
    padding: 5px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 500;
}

.mk-apt-btn{
    margin: 15px 0px 30px -5px;
}

.mk-odr-btn{
    margin: 35px 0px 30px -5px;
}

.btn-mkdcapt:hover{
    background-color: #0D5C75;
}

.btn-mkdcapt span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-mkdcapt span:after {
    content: '\002B';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.btn-mkdcapt:hover span {
    padding-left: 15px;
}

.btn-mkdcapt:hover span:after {
    opacity: 1;
    left: 0;
}

.tbl-content{
    max-height: 100vh; 
    overflow-y: auto; 
    margin-top:170px;
}

/* .make-apt-btn button {
    display: inline-block;
    height: 40px;
    width: 280px;
    background: #0C5C75;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
}

.make-apt-btn a {
    margin-left: 70px;
}

.make-apt-btn button:hover {
    background: #107c9d;
    color: #ffffff;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
} */

.tbl-mydocapp{
    width: 90%;
    margin-left:auto; 
    margin-right:auto;
    border-collapse: separate;
    border-spacing: 0 15px;
}
    
.tbl-mydocapp tr{
    background-color: #ffffff;
}

.tbl-mydocapp thead{
    position: sticky;
    top: 0; /* set the table heading to be fixed */
    z-index: 1; /* set a higher z-index to show the heading above the content */
}

.tbl-mydocapp thead td{
    color: #0D5C75;
    font-weight: 700;
    padding: 5px;
}

.tbl-mydocapp td{
    /*border:1px solid #b3adad;*/
    color: #000000;
    text-align: center;
    width: 300px;
    padding: 10px;
    padding-left: 0%;
    padding-right: 0%;
}

.tbl-mydocapp td:first-child, th:first-child {
    border-radius: 10px 0 0 10px;
}

.tbl-mydocapp td:last-child, th:last-child {
    border-radius: 0 10px 10px 0;
}

.tbl-mydocapp td.nosessiontd:first-child, th:first-child {
    border-radius: 10px 10px 10px 10px;
}

.btn-yellow{
    width: 150px;
    background-color: #d7ad16;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: 500;
  }
  
  .btn-green{
    width: 150px;
    background-color: #0C7516;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: 500;
  }

/* APPOINTMENTS PAGE style */

.appointments-head {
    font-size: 30px;
}

.appointment-left-page-content {
    background: white;
    border-radius: 20px;
    height: 480px;
    width: 500px;
    margin: 10px 0px 0px 210px;
    padding: 20px ;
}


.appointment-right-page-content {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 230px;
}

.common-apt button  {
    height: 60px;
}

.appointment-page-content{
    margin-top: -35px;
}

/* .appointment-right-page-content button {
    height: 90px;
    width: 220px;
    background: #0C5C75;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    border: none;
    margin: 60px 0px 0px 0px;
}

.appointment-right-page-content button:hover {
    background: #107c9d;
    color: #ffffff;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
} */

.appointments-divider {
    width: 50px;
}


/* PATIENT LAB APPOINTMENT style start */

.tbl-mylabapp{
    width: 70%;
    margin-left: 65px;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0 15px;
}


/* VIEW Lab APPOINTMENT */

.view-lab-apt-details {
    border-radius: 15px;
    background: white;
    height: 520px;
    width: 700px;
    margin: 30px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 30px;
}


/* MAKE LAB APPOINTMENT style */

.lab-apt-form {
    margin-left: 0px;
    width: 920px;
    margin-top: 50px;
    font-weight: 600;
}

.lab-apt-form input {
    width: 500px;
    padding: 7px 7px 7px 10px;
    font-weight: 500;
}

.lab-apt-form input[type="file"] {
    width: 300px;
    padding: 0px 7px 7px 0px;
    margin-left: 12px;
    cursor: pointer;
    font-weight: 500;
}

.lab-btn{
    margin: -15px 0px 0px 20px;
}

.lab-apt-row{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

.lab-apt-row-table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lab-apt-row-table-tag{
    margin: 0px 670px 0px 0px;
}

.tbl-lab-apt{
    width: 77%;
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 0 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 200px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;

}

.tbl-lab-apt thead tr{
    background-color: #bcbcbc;
    border-radius: 10px;
  }
  
  .tbl-lab-apt thead td{
    text-align: center; 
    color: #000000;
    font-weight: 500;
    padding: 5px;
    font-size: 12px;
  }
  
  .tbl-lab-apt tbody tr{
    background-color: #f4f1f1;
    margin-top: 10px;
  }

  .tbl-lab-apt tbody tr{
    text-align: center; 
    color: #000000;
    font-weight: 500;
    padding: 5px;
    font-size: 12px;
    height: 4px;    
  }
  .tbl-lab-apt td:first-child, th:first-child {
    border-radius: 10px 0 0 10px;
  }
  
  .tbl-lab-apt td:last-child, th:last-child {
    border-radius: 0 10px 10px 0;
  }

  .tbl-lab-apt td.nosessiontd:first-child, th:first-child{
    border-radius: 10px 10px 10px 10px;
  }

.upload-lapapt{
    margin-right: 412px;
}

.lab-divider1{
    width:30px;
}

.lab-divider2{
    width:57px;
}

.lab-apt-row input{
    border-radius: 10px;
    width: 300px;
    margin-left: 10px;
}

.lab-apt-row div{
    display: flex;
    flex-direction: row;
    align-items: center;
   

}

.tests-table {
    width: 500px;
    height: 250px;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 15px;
    color: #000000;
}

.tests-table table {
    background: #cecece;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
}

.tests-table th {
    margin: 5px 20px 5px 5px;
}

.make-lab-apt {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    justify-content: right;
    margin: 0px 40px 25px 0px;

}

.upload-pres {
    box-sizing: border-box;
    border-radius: 10px;
    width: 350px;
    background: white;
    padding: 0px;
    height: 34.4px;
    font-size: 10px;
    
}

.make-lab-apt input {
    width: 500px;
    font-size: 13px;
}


/* MEDICAL RECORDS Style */

.my-record-heading {
    margin: 30px 0px 0px 100px;
    font-size: 30px;
}

.record-dashbaord {
    background: white;
    border-radius: 40px;
    height: 300px;
    width: 750px;
    margin: 30px 0px 0px 100px;
}

.record-buttons {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 100px;

}

.record-buttons button {
    height: 90px;
    width: 220px;
    background: #0C5C75;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    border: none;
    margin: 60px 0px 0px 0px;
}

.record-buttons button:hover {
    background: #f0f2f4;
    color: #093e4e;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}


/* Patient_pharmorders.php CSS Starts here */

.order-tbl-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-radius: 15px;
    height: 45px;
    width: 670px;
    margin: 50px 0px 0px 50px;
    color: #093e4e;
    font-weight: bold;
    font-size: 18px;
}

.order-tbl-heading div {
    margin: 0px 0px 0px 30px;
}


.divide-order-01 {
    width: 80px;
}

.divide-order-02 {
    width: 100px;
}

.divide-order-03 {
    width: 100px;
}

.search-row1,
.search-row2,
.search-row3,
.search-row4 {
    height: 40px;
    padding: 10px;
    border-radius: 15px;
    border: 0px solid;
    background: white;
    font-size: 16px;
    /* text-align: center; */
}

.order-tbl-search {
    margin-bottom: 5px;
    height:50px;
    width:1000px;
    margin: 0px 0px 12px 52px;
    border-radius: 15px;
    margin-top: 10px;
}

.search-row1 {
    margin-left: 5px;
    width: 120px;
}

.search-row3 {
    margin-left: 81px;
    width: 200px;
}

.search-row4 {
    margin-left: 60px;
    width: 200px;
}

.order-tbl-list table {
    background: white;
    height:50px;
    width:880px;
    margin: 10px 0px 5px 50px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 17px;
}

.order-tbl-list .search-row1{
    border: none;
    text-align: center;
}
.order-tbl-list .search-row2{
    border: none;
    text-align: center;
}
.order-tbl-list .search-row3{
    border: none;
    text-align: center;
}
.order-tbl-list .search-row4{
    border: none;
    text-align: center;
}


.btn-view-pha-detail {
    border-radius: 10px;
    background-color: #0D5C75;
    border: none;
    color: #FFFFFF;
    text-align: center;
    /* font-size: 15px; */
    padding: 5px;
    width: 175px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 8px 5px 5px 5px;
    font-weight: 500;
  }
  
  .btn-view-pha-detail span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-view-pha-detail span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-view-pha-detail:hover span {
    padding-right: 15px;
  }
  
  .btn-view-pha-detail:hover span:after {
    opacity: 1;
    right: 0;
  }

.td{
    display: table-cell;
    vertical-align: inherit ;
}

.table-order-details{
    margin-left:60px;
}

.order-heading{
    margin-left:50px;
}

.order-btn{
    margin: 20px 0px 0px 20px;
}

.order-btn-view{
    margin: 0px 0px 0px 30px;
}

.order-data01{
    width: 130px;
    text-align: center;
}

.order-data03{
    width: 350px;
    text-align: center;
    border-left: 160px;
}

.order-data04{
    width: 172px;
    text-align: center;
}

.order-st00{
    width: 175px;
    width: 150px;
    background-color: #FAEAB1;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #000;
    font-weight: 550;
}

.order-st01{
    background-color: #FDD147;
    width: 175px;
    width: 150px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #000;
    font-weight: 550;
}

.order-st02{
    background-color: #0C7516;
    width: 175px;
    width: 150px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #000;
    font-weight: 550;
}

.order-st03{
    background-color: #FFA07A;
    width: 175px;
    width: 150px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #000;
    font-weight: 550;
}

.order-st04{
    background-color: #2196F3;
    width: 175px;
    width: 150px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #fff;
    font-weight: 550;
}

.order-st05{
    background-color: #BD1010;
    width: 175px;
    width: 150px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #fff;
    font-weight: 550;
}

/* Patient_pahrmorderViewDetails.php STYLES */

.view-order-heading{
    font-size: 20px;
    color: #093e4e;
    margin: 25px 0px 0px 100px;
}

.view-order-details{
    border-radius: 15px;
    background: white;
    height: 475px;
    width: 500px;
    margin: 30px 0px 0px 200px;
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 30px;
}

.view-orderdetails-row div {
    width: 250px;
    height: 28px;
    margin: 0px 40px 0px 15px;
    display: flex;
    align-items: center;
    color: #000000;
}

.view-orderdetails-row{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 15px;
    align-items: center;
    font-size: 16px;
    font-weight: 550;
    color: #093e4e;
}

.view-orderdetails-row div {
    width: 250px;
    height: 28px;
    margin: 0px 85px 0px 15px;
}

.view-order-btn {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0px 35px 0px 0px;
}

.view-order-btn01 button {
    border-radius: 25px;
    height: 35px;
    width: 140px;
    background: #BD1010;
    color: #ffffff;
    border: none;
}

.view-order-btn02 button {
    border-radius: 25px;
    height: 35px;
    width: 140px;
    background: #0C5C75;
    color: #ffffff;
    border: none;
}

.view-apt-divider {
    width: 30px;
}

.view-order-btn02 button:hover {
    cursor: pointer;
    background: #107c9d;
    transition: .3s;
    font-weight:600;
}

.view-order-btn01 button:hover {
    cursor: pointer;
    background: #db1616;
    transition: .3s;
    font-weight:600;
}

.view-order-back-btn {
    margin: 25px 0px 0px 530px;
}

.view-order-back-btn button:hover {
    cursor: pointer;
    background: #107c9d;
    transition: .3s;
}

.uploaded-file a{
    text-decoration: none;
    color: #04313e;
}


/* Patient_pharmorderViewReview.php STYLES */

.order-only-details{
    margin-right: 200px;
}

.view-review-details{
    border-radius: 15px;
    background: white;
    height: 450px;
    width: 650px;
    margin: 40px 0px 0px 130px;
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 30px;
}


.view-orderreview-row{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 550;
    color: #093e4e;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.view-orderreview-row div {
    margin-right: 160px;
    margin-left: 10px;
    width: 250px;
    color: #000000;
}

.tbl-addmed{
    width: 80%;
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 0 5px;
    margin-top: -12px;
    margin-bottom: 10px;
  }
  
  .tbl-addmed thead tr{
    background-color: #bcbcbc;
    border-radius: 10px;
  }
  
  .tbl-addmed thead td{
    text-align: center; 
    color: #000000;
    font-weight: 500;
    padding: 5px;
    font-size: 12px;
  }
  
  .tbl-addmed tbody tr{
    background-color: #f4f1f1;
    margin-top: 10px;
  }

  .tbl-addmed tbody tr{
    text-align: center; 
    color: #000000;
    font-weight: 500;
    padding: 5px;
    font-size: 12px;
    height: 4px;    
  }
  
  .tbl-addmed td:first-child, th:first-child {
    border-radius: 10px 0 0 10px;
  }
  
  .tbl-addmed td:last-child, th:last-child {
    border-radius: 0 10px 10px 0;
  }
  
  .tbl-addmedform{
    border:35px solid #ffffff;
    width: 50%;
    height: 200px;
    margin-top: 100px;
    margin-left:auto; 
    margin-right:auto;
    background-color: #ffffff;
    border-spacing: 20px;
    border-collapse: separate;
    border-radius: 20px;
    border: 3px solid #ffffff;
  }
  
  .form-addmedcontrol{
    width: 300px;
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
  }


  .review-order-btn01 button{
    border-radius: 25px;
    height: 35px;
    width: 140px;
    background: #0C5C75;
    color: #ffffff;
    border: none;
  }

  .review-order-btn01 button:hover{
    cursor: pointer;
    background: #107c9d;
    transition: .3s;
    font-weight: 600;
  }

  .view-orderreview-btn{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 30px 530px 0px 0px;
  }

  .clearfilt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: -10px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: 550;
    color: #0d5c75; 
  }
  
  .clearfilt i{
    margin-right: 5px;
  }
  
  .clearfilt a{
    color: #0d5c75;
  }

  .clearfilt a:hover{
    color: #01161d;
  }

/* CSS for viewprofile.php Starts Here*/

.polygons {
    text-align: center;
    position: relative;
}

.square {
    border: 2px solid #0D5C75;
    width: 600px;
    height: 620px;
    background: #ffffff;
    position: relative;
    top: 100px;
    display: inline-block;
    border-radius: 10%;
}
  
  .tbl-square{
    border-collapse: separate;
    table-layout: fixed;
    /* border: 1px solid black; */
  }
  
  .tbl-square .type1{
    /* border: 1px solid black; */
    width: 245px;
    text-align: right;
    font-size: 16px;
    color: #0D5C75;
    font-weight: 500;
  }
  
  .tbl-square .type2{
    /* border: 1px solid black; */
    width: 300px;
    text-align: left;
    font-size: 14px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px 10px 10px 10px;
  }
  
  .circle {
    border: 2px solid #0D5C75;
    width: 250px;
    height: 250px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 500px;
    top: -15px;
    overflow: hidden;
  }
  
  /* .circle:hover {
    color: $primary;
    background-color: transparent;
    border: dashed #f7a4a7 5px;
  } */
  
  .square2 {
    width: 200px;
    height: 50px;
    position: absolute;
    background: #0D5C75;
    left: -205px;
    top: 430px;
    /* border-radius: 10%; */
  }
  
  #overlap {
    width: 10px;
    height: 60px;
  /*   background: purple; */
    position: relative;
    left: -10px;
    right: -20px;
  }
  
  .form-control2{
    width: 200px;
    text-align: center;
    border-radius: 10px;
  }
  
  /* CSS for viewprofile.php Ends Here*/
  
  /* editprofile.php CSS Starts */
  
  #file-input {
    display: none;
  }
  
  #file-link {
    color: #0D5C75;
    cursor: pointer;
  }
  
  #file-link:hover {
    text-decoration: none;
  }
  
  .ppUpdatedS{
    color: #54B435;
    margin-top: -10px;
    margin-left: 55px;
    font-size: 12px;
    font-weight: 600;
  }
  
  .ppUpdatedF{
    color: red;
  }
  
  /* editprofile.php CSS Ends */


/* docprescriptions.php starts here */

.tbl-docpre{
    width: 90%;
    margin-left: auto; 
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0 15px;
    justify-content: center;
    align-items: center;
}

.tbl-docpre td{
    min-width: 300px;
    max-width: 300px; /* or any value you want to set as the minimum width */
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.docpre-containor{
    padding: 10px;
    text-align: center; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 25px;
    background: linear-gradient(to top, #ffffff, #fff);
    height: 35vh;
    border: 2px solid #0D5C75;
}

.docpre-containor-empty{
    padding: 10px;
    text-align: center; 
    margin: 0 200px 0 0;
    justify-content: center;
    align-items: center;
    width: 800px;
    border-radius: 25px;
    background: linear-gradient(to top, #ffffff, #fff);
    height: 35vh;
    border: 2px solid #0D5C75;
}

.docpre-containor-empty{
    color: #BD1010;
}

.docpre-containor-empty p{
    font-size: 25px;
    font-weight: 600;
    margin: 90px 0 0 240px
}

.container-row {
    display: flex;
}

.docpre-containor .sub1{
    margin-top: 30px;
    border-radius: 30px;
    width:25%;
    background-color: #fff;
    /* border: 1px solid #888888;
    padding: 10px;
    box-shadow: 1px 2px #888888; */
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.docpre-containor .sub2{
    margin-top: 30px;
    margin-left: 5%;
    border-radius: 10px;
    width: 70%;
    background-color: #fff;
    /* border: 1px solid #888888; */
    /* padding: 10px;
    box-shadow: 1px 2px #888888; */
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.idtxt{
    font-size: 40px;
    font-weight: 700;
    color: #0D5C75;
}

.headtxt{
    font-size: 12px;
    font-weight: 620;
    color: #0D5C75;
}

.datatxt{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.docpre-containor .sub3{
    margin-top: 34px;
    border-radius: 30px;
    width: 70%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.container-row2 {
    display: flex;
    margin-top: 30px;
    margin-left: 5%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    width: 65%;
    border-radius: 25px;
    background: linear-gradient(to top, #ffffff, #fff);
    border: 2px solid #0D5C75;
}

.view-sub1{
    padding: 25px;
    border-radius: 30px;
    width:35%;
    background-color: #fff;
    /* border: 1px solid #888888; */
    padding: 10px;
    padding-left: 30px;
    /* box-shadow: 1px 2px #888888; */
    display: inline-block;
    text-align: center; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.view-sub2{
    margin-left: 5%;
    border-radius: 30px;
    width:70%;
    background-color: #fff;
    /* border: 1px solid #888888; */
    /* padding: 10px;
    box-shadow: 1px 2px #888888; */
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.view-idtxt{
    font-size: 35px;
    font-weight: 700;
    color: #0D5C75;
}

.view-headtxt{
    font-size: 15px;
    font-weight: 620;
    color: #0D5C75;
}

.view-datatxt{
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

.pre-btn {
    border-radius: 10px;
    background-color: #0D5C75;
    border: none;
    color: #FFFFFF;
    text-align: center;
    /* font-size: 15px; */
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: 500;
}
    
.pre-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
    
.pre-btn span:after {
    content: '\21E9';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
    
.pre-btn:hover span {
    padding-right: 15px;
}
    
.pre-btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* docprescriptions.php ends here */

/* View doc apt statuses */
.docapt-st01{
width: 175px;
width: 150px;
background-color: #28ae28;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 10px;
border: 1px solid #ccc;
color: #ffffff;
font-weight: 550;
}

.docapt-st02{
    width: 175px;
    width: 150px;
    background-color: #BD1010;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: 550;
    }

.docapt-st03{
    width: 175px;
    width: 150px;
    background-color:#093e4e;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: 550;
}

.docapt-st04{
    width: 175px;
    width: 150px;
    background-color: #eca3a3;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #000000;
    font-weight: 550;
}
